@import "tailwindcss";

/* זה מה שעושה את מצב הדארק לפי class="dark" */
@custom-variant dark (&:where(.dark, .dark *));

html {
  direction: rtl;
}

/* אפשר גם לתת דיפולט ללייף־מוד */
body {
  @apply bg-white text-black;
}
